/* -----------------------------------------------------------------------------

  BATTLE
  
----------------------------------------------------------------------------- */

.battle {
  /**/
}

/**
 * battle-waiting
 *
 * This is the waiting area for the two battle players. 
 */

.battle-waiting {
  display: none;
  text-align: center;
}

.battle-waiting.active {
  display: block;
}

.battle-waiting__opp {

}

.battle-waiting__buttons {
  margin: 48px 0;
}

.battle-waiting__timer h3 {
  margin: 0 0 12px 0;
}

.battle-waiting__timer span {
  color: $color--theme-orange;
}

.battle-waiting__loading {
  font-size: $font-size--xxlarge;
  font-weight: 700;
  text-align: center;
}

/**
 * battle-field
 *
 * this is the official showdown area, where the prompt, both editors, and the
 * notifications for users get loaded into.
 */

.battle-field {
  display: none;
}

.battle-field.active {
  display: block;
}

.battle-field__header {
  margin-bottom: 48px;
  padding: 4px 0;
  text-align: center;
  border-bottom: solid 2px $color--theme-blue-mid;
}

.battle-field__header p {
  margin: 0;
  color: $color--theme-orange;
  font-size: $font-size--large;
}

.battle-field__header span {
  display: inline-block;
  margin: 0 24px;
  color: $color--theme-blue-light;
  font-style: italic;
}

/**
 * battle-prompt
 *
 * This resides inside the battle field, but governs the prompt area
 * specifically.
 */

.battle-prompt {

}

.battle-prompt__description {

  word-wrap: break-word;

  p,
  ul,
  ol {
    margin-bottom: 12px;
  }

  pre {
    overflow: auto;
    padding: 8px;
    background-color: $color--theme-grey-light;
    font-size: $font-size--xsmall;
    border: solid 1px $color--theme-blue-light;
  }

}

/**
 * battle-player
 *
 * These are the battle player areas. Different styles will be rendered
 * for different players (p1 and p2).
 */

.battle-player {

}

.battle-player--user {
  margin-bottom: 24px;
}

.battle-player__heading {
  padding: 8px;
  color: $color--theme-blue-mid;
  background-color: $color--theme-grey-light;
  font-size: $font-size--xsmall;
  font-weight: 400;
  text-transform: uppercase;
}

/* code mirror player/editor size overrides */

.battle-player--opponent .CodeMirror {
  position: relative;
  height: 120px;
  font-size: 9px;
  line-height: 1.2;
  filter: blur(1.5px);
  user-select: none;
}

.battle-player--opponent .CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 10px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.battle-player--opponent .CodeMirror pre {
  padding: 0 20px; /* Horizontal padding of content */
}

/**
 * battle-notices
 *
 * Notices for the player in action!
 */

.battle-notices {
  /**/
}

.battle-notices__heading {
  padding: 8px;
  color: #fff;
  background-color: $color--theme-orange;
  font-size: $font-size--xsmall;
  font-weight: 400;
  text-transform: uppercase;
}

.battle-notices__notes {
  padding: 8px;
  border: solid 1px $color--theme-orange;
}