/* -----------------------------------------------------------------------------

  DASHBOARD
  
----------------------------------------------------------------------------- */

.dashboard {

}

/* stats */

.dashboard-stats {
  margin: 0 0 24px 0;
}

.dashboard-stats__title {
  margin-bottom: 24px;
  color: $color--theme-orange;
  font-size: $font-size--xlarge;
  font-weight: 400;
}

/* stats entry */

.dashboard-stats-entry {
}

.dashboard-stats-entry__title {
  padding: 12px;
  color: #fff;
  background-color: $color--theme-orange;
  font-size: $font-size--xsmall;
  font-weight: 400;
}

.dashboard-stats-entry__body {
  padding: 12px;
  background-color: $color--theme-grey-light;
}

.dashboard-stats-entry__stat {
  
}

.dashboard-stats-entry__stat > span {
  color: $color--theme-orange;
}


.dashboard-stats__streak {
  color: $color--theme-blue-light;
  font-size: $font-size--medium;
}

.dashboard-stats__streak > span {
  color: $color--theme-orange;
}

/* leaderboard */

.dashboard-leaderboard {
  
}

/* online users */

.dashboard-online__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard-online__item {
  display: flex;
  padding: 4px 0;
  border-bottom: solid 1px $color--theme-grey-light;
}

.dashboard-online__item:last-child {
  border-bottom: none;
}

.dashboard-online__item > span {
  flex: 1;
}

/* notifications */

.dashboard-notification {
  position: fixed;
  top: 12px;
  right: 12px;
  padding: 24px;
  width: 300px;
  background-color: #fff;
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.4);
}

.dashboard-notification__title {
  margin-bottom: 12px;
}

.dashboard-notification__button {
  margin-bottom: 4px;
}