/* -----------------------------------------------------------------------------

  SPINNER
  
----------------------------------------------------------------------------- */

.spinner-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: $color--theme-blue-dark;
}

.spinner-container.active {
  display: block;
}

.spinner {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 96px;
  height: 96px;
}

.spinner::before,
.spinner::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
}

.spinner::before {
  border-top: solid 18px $color--theme-blue-mid;
  border-bottom: solid 18px $color--theme-blue-mid;
  border-left: solid 18px transparent;
  border-right: solid 18px transparent;
  border-radius: 48px;
  animation: spinner-2 1s infinite ease;
}

.spinner::after {
  width: 24px;
  height: 24px;
  background-color: $color--theme-orange;
  border-radius: 18px;
}

@keyframes spinner-2 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}