/* -----------------------------------------------------------------------------

  BUTTONS
  
----------------------------------------------------------------------------- */

.btn {
  display: inline-block;
}

.btn--primary {
  color: #fff;
  background-color: $color--theme-blue-mid;
}

.btn--primary:not(:disabled):hover {
  background-color: $color--theme-blue-dark;
}

.btn--primary.active {
  background-color: $color--theme-orange;
}

.btn--secondary {
  color: #fff;
  background-color: $color--theme-orange;
}

.btn--secondary:not(:disabled):hover {
  background-color: darken($color--theme-orange, 20%);
}

.btn:disabled {
  opacity: 0.3;
}

.btn--small {
  padding: 8px 12px;
}

.btn--medium {
  padding: 12px 18px;
  font-size: $font-size--small;
}

.btn--large {
  padding: 15px 21px;
  font-size: $font-size--medium;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn:focus {
  outline: none;
}

@media all and (min-width: 840px) {
  .btn--medium {
    padding: 12px 36px;
    font-size: $font-size--medium;
  }

  .btn--large {
    padding: 15px 48px;
    font-size: $font-size--large;
  }

}