// -----------------------------------------------------------------------------
//
// FONTS
//
// -----------------------------------------------------------------------------

$font-family--primary: "Roboto", sans-serif;

$font-size--xsmall: 12px;
$font-size--small: 14px;
$font-size--medium: 18px;
$font-size--large: 22px;
$font-size--xlarge: 28px;
$font-size--xxlarge: 36px;

$line-height--small: 1.2;
$line-height--medium: 1.8;
$line-height--large: 2.2;






// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------

$color--neutral-xxdark: #111;
$color--neutral-xdark: #333;
$color--neutral-dark: #555;
$color--neutral: #777;
$color--neutral-light: #999;
$color--neutral-xlight: #AAA;
$color--neutral-xxlight: #CCC;
$color--neutral-xxxlight: #EEE;

$color--theme-blue-dark: #2B3A42;
$color--theme-blue-mid: #3F5765;
$color--theme-blue-light: #BDD4DE;
$color--theme-grey-light: #EFEFEF;
$color--theme-orange: #EB7F00;