/* -----------------------------------------------------------------------------

  FOOTER
  
----------------------------------------------------------------------------- */

.footer {
  padding: 48px 0;
  text-align: center;
}

.footer__heading {
  margin-bottom: 12px;
  color: #fff;
  font-weight: 400;
}

.footer__copyright {
  color: $color--theme-blue-mid;
}