/* -----------------------------------------------------------------------------

  HEADER MAIN OBJECT
  
----------------------------------------------------------------------------- */

/**
 * This is the header on all the main pages, i.e. not the home page.
 */

.header-main {
  padding: 12px 0;
  background-color: $color--theme-blue-dark;
}

.header-main__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main__user {
  position: relative;
}

.header-main__user-details {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.header-main__user-avatar {
  margin: 0 24px 0 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
}

.header-main__user-name {
  margin: 0;
  color: $color--theme-orange;
  font-weight: 300;
}

.header-main__user-dropdown {
  visibility: hidden;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: -1;
  margin: 0;
  padding: 12px;
  width: 240px;
  background-color: #fff;
  box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}

.header-main__user-dropdown::before {
  display: block;
  position: absolute;
  top: -6px;
  right: 12px;
  width: 12px;
  height: 6px;
  border-bottom: solid 6px #fff;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  content: "";
}

.header-main__user-dropdown-item {
  padding: 4px 0;
}

.header-main__user-dropdown-sep {
  border-bottom: solid 1px $color--theme-blue-light;
}

.header-main__user-dropdown-item a {
  display: block;
  padding: 4px 8px;
  color: $color--theme-blue-mid;
}

.header-main__user-dropdown-item a:hover {
  color: #fff;
  background-color: $color--theme-orange;
}

/* hover state */

.header-main__user:hover .header-main__user-dropdown {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

/**
 * Some modifiers for right side opponent
 */

.header-main__user-details--right {
  justify-content: flex-end;
}

.header-main__user-details--right > .header-main__user-avatar {
  margin: 0 0 0 24px;
}

/**
 * The logo
 */

.header-main__logo {
  width: 96px;
}

.header-main__logo img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}