/***********************************/
/******** SITEWIDE STYLING *********/
/***********************************/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 300%;
  font-weight: 300;
}

.flex-container {
  display: -webkit-flex; /* for safari */
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.flex-item {
  /*text-align: center;*/
}

.float-right {
  float: right;
}

.center {
  text-align: center;
}

.row {
  display: flex;
  margin-bottom: 20px;
  padding: 0 12px;
  align-items: center;
}

.viewport {
  height: 100vw;
  width: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  /*background: #BBB;*/
  max-height: 177.78vh;
  max-width: 100vh; /* 16/9 = 1.778 */
  /*margin: auto;*/
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}

.margin-top {
  /* used on book category row header */
  margin-top: 20px;
}

.teal {
  background-color: #017E82;
}

.light-teal {
  background-color: #00B7BB;
}

.dark-teal {
  background-color: #004851;
}

.teal-font {
  color: #017E82;
}

.white {
  background-color: #FFF;
}
.white-font {
  color: #FFF;
}

.seafoam {
  background-color: #E4F2F2;
}

.proxima {
  font-family: "proxima-nova", sans-serif;
  /*text-align: center;*/
  font-weight: 100;
}

.bold {
  font-weight: 700;
}



/***********************************/
/******** LOGIN SCREEN *********/
/***********************************/

.login-container {
  /*background-color: #017E82;*/
  background-image: url("../img/bg-tile.jpg");
  display: flex;
  padding-top: 20%;
  padding-bottom: 20%;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 480px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.icon-container {
  text-align: center;
}

.brand-container {
  margin-bottom: 20%;
  text-align: center;
}

.login-button {
  width: 80%;
  height: 100%;
  /*position: relative;*/
  /*align-items: baseline;*/
  border-color: #004851;
  font-weight: 400;
  background-color: #004851;
  padding: 10px;
}

.opacity {
  opacity: 0.8;
}

.login-button-container {
  background-color: #017E82;
  /*align-self: flex-end;*/
}

.gyftee-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 400%;
  color: #FFF;
}

ul {
  list-style-type: none;
}

/***********************************/
/******** NAV BAR ********/
/************************************/

.navbar {
  background: #017E82;
  border: none;
  border-radius: 0;
  height: 70px;
}

.navbar-collapse {
  overflow: hidden;
}

.navbar-brand {
  height: auto;
  line-height: auto;
}

.navbar-brand a img {
  max-height: 30px;
  padding-right: 10px;
}

.navbar-brand a, .navbar-nav li a {
  font-size: 18px;
  color:white;
  font-weight: lighter;
  text-decoration: none;
  line-height: 35px;
}

.navbar-right li a:first-child {
  margin-right: 15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-brand a:hover, .navbar-nav>li>a:hover {
  background: #017E82;
  color: #004851;
}

.navbar-default .navbar-toggle .icon-bar {
  background: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover {
  background-color: #017E82;
}

/***********************************/
/******** HOME VIEW ********/
/************************************/

.brand-icon {
  height: 35px;
  padding-right: 10px;
}

.welcome-main {
  /*holds the welcome, name greeting and photo*/
  margin-top: 10px;
}
.welcome-container {
  padding: 0px 20px 0px 65px;
  /*background-color: yellow;*/
  text-align: left;
  flex: 1.2;
}
.filter-friend-flex-container{
  margin-top: 100px;
}

.greeting-text {
  font-size: 1.0em;
  padding-bottom: 0px;
}

.firstname {
  font-size: 1.2em;
  font-weight: lighter;
  padding-bottom: 10px;
}

.thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.profile-photo-container {
  padding-top: 10px;
  display: flex;
  flex: 1;
  /*background-color: yellow;*/
  justify-content: center;
}

.profile-photo {
  border-radius: 50%;
  /*background-color: yellow;*/
  /*background-position: 50%;*/
  /*position: relative;*/
  height: 120px;
  width: 120px;
}

.invite-button {
  /*position: relative;*/
  /*justify-content: center;*/
  border-color: #004851;
  font-size: 0.7em;
  background-color: #004851;
  color: #FFF;
  /*align-content: center;*/
  border-radius: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  width: 70%;
}

.invite-link {
  text-decoration: none;
}
.invite-link:hover {
  color: transparent;
}

/*.invite-button-text {
  padding-top: 10px;
  background-color: green;
}
*/
.bday-list-body {
  /*margin: 48px auto;*/
  padding: 0;
}

.bday-list-header {
  color: #017E82;
  font-size: 0.7em;
  text-align: left;
  margin-left: 65px;
  font-weight: bold;
  margin-bottom: 5px;
}

.bday-list-item {
  flex: 1;
  padding: 0 48px 0 10px;
  text-align: left;
}

.friendname {
  color: #004851;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
  /*padding-left: 10px;*/
  font-size: 0.8em;
}

.friendname:hover {
  color: #017E82;
  text-decoration: none;
}

.heart {
  color: #9E081B;
  font-size: 30px;
}

.heart-div {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.heart:hover {
  opacity: 0.5;
}

.bday-row {
  padding: 20px 20px 20px 20px;
  /*border-style: solid;*/
  border-top: solid;
  border-color: white;
  display: flex;
  font-weight: normal;
  /*margin-bottom: 20px;*/
  /*padding: 0 12px;*/
  /*align-items: center;*/
}

.bday-row:last-child {
  padding-bottom: 20px;
}

.date-container {
  display: flex;
  /*align-content: left;*/
  flex: 0.3;
  font-size: 0.8em;
  color: #004851;
}

.no-bday {
  font-size: 0.8em;
}


/***********************************/
/******** ALL FRIEND VIEW ********/
/************************************/

.all-friend-row {
  padding: 20px 20px 20px 20px;
  /*border-style: solid;*/
  border-top: solid;
  border-color: white;
  display: flex;
  /*margin-bottom: 20px;*/
  /*padding: 0 12px;*/
  align-items: center;
}



/***********************************/
/******** GIFT DETAIL VIEW ********/
/************************************/

.gift-detail-container {
  padding: 20px;
  max-width: 80%;
  border-style: solid;
  border-color: #BBB;
}

.detail-main {
  padding-top: 90px;
}

.detail-wrapper {
  flex: 1;
}

.add-to-list-container {
  /*background-color: white;*/
  display: flex;
  flex: 1;
  margin-bottom: 10px;
}

.book-title {
  font-size: 0.6em;
  font-weight: bold;
}
.book-author {
  font-size: 0.6em;
}
.book-binding {
  font-size: 0.5em;
}
.book-price {
  font-size: 0.5em;
  font-weight: 400;
}
.add-to-list {
  font-size: 0.8em;
  margin: 0 auto;
  /*position: fixed;*/
}

.add-heart {
  color: #E4F2F2;
}

.add-to-list-button {
  /*position: relative;*/
  /*justify-content: center;*/
  border-color: #004851;
  font-size: 0.6em;
  background-color: #004851;
  color: #FFF;
  /*align-content: center;*/
  border-radius: 5px;
  /*margin-top: 10px;*/
  padding: 5px;
  text-align: center;
  width: 100%;
}

.add-to-list-button:hover{
  background-color: #017E82;
  color: white;
}

.book-text-container {
  padding: 5px 0 10px 0;
}

.based-on-text {
  font-size: 0.6em;
  color: white;
}

.based-on-container {
  padding: 10px;
}

.saved {
  font-size: 0.7em;
  background-color: white;
  border-radius: 5%;
}


/***********************************/
/******** FILTERABLE FRIEND *********/
/***********************************/

.invite-fb-friend {
  border-color: #004851;
  font-size: 0.7em;
  background-color: #004851;
  color: #FFF;
  /*align-content: center;*/
  /*border-radius: 10px 0 10px 0;*/
  margin: 10px 20px 10px 10px;
  padding: 10px;
  text-align: center;
  width: 25%;
}


/***********************************/
/******** FRIEND HEADER *********/
/***********************************/

.fetching-friend {
  font-size: 0.9em;
  color: #017E82;
}

.friend-header-container {
  padding: 0px 20px 0 65px;
}

.friend-header-name {
  text-align: left;
  font-size: 0.9em;
  color: #017E82;
}

.friend-header-bday {
  font-size: 0.8em;
  padding-bottom: 0px;
  font-weight: bold;
  color: #017E82;
  text-align: left;
}

.filter-button {
  border-color: #004851;
  font-size: 0.7em;
  background-color: #004851;
  color: #FFF;
  border-radius: 10px 0 10px 0;
  margin-top: 10px;
  /*margin-bottom: 20px;*/
  padding: 10px;
  text-align: center;
}
.wishlist-button-container {
  text-align: left;
}

.filter-link {
  text-decoration: none;
}
.filter-link:hover {
  color: transparent;
}


/***********************************/
/******** PINNED GIFT LIST *********/
/***********************************/

.friend-detail-container {
  padding: 10px 0 20px 0;
}
.giftlist-circle {
  background-color: #9E081B;
  color: #FFF;
  text-align: center;
  align-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.giftlist-circle text {
  line-height: 90px;
}

.giftlist-circle-container {
  align-items: center;
}

.giftlist-main {
  padding-bottom: 20px;
}
.giftlist-header {
  margin-top: 70px;
  font-size: 1.2em;
  color: #FFF;
  padding: 10px 0 10px 40px;
}

.category-header {
  color: #FFF;
  font-size: 0.8em;
  font-weight: normal;
  padding: 5px 0 5px 65px;
}

.slider-container{
  margin-left: 70px;
  padding: 10px 0 10px 10px;
}

.prime-img{
  height: 13px;
  width: 70px;
}

.wishlist-header {
  flex: 1;
}

.pinned-gifts {
  align-items: flex-start;
  justify-content: space-around;
}

.pinned-gift {
  padding: 0px 10px 0 10px;
}

.book-title-thumb {
    font-size: 0.4em;
    text-align: left;
    margin-left: 10%;
}

/******** FALLBACK STYLING *********/

.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
}

.book img { vertical-align: middle; height: 107px;}

/*
 *  In order for this to work, you must use Modernizer
 *  to detect 3D transform browser support. This will add
 *  a "csstransforms3d" class to the HTML element.
 *
 *  Visit http://modernizr.com/ for installation instructions
 */

 /***********************************/
/******** USER PHOTO STYLING *********/
/***********************************/
.user-photo-small{
  max-width: 350px;
}

 /***********************************/
/******** MODERNIZR *********/
/***********************************/

.csstransforms3d  .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
}

.csstransforms3d  .book img {
  position: relative;
  max-width: 100%;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 7.5%;
  background-color: #5a2d18;
  box-shadow: 5px 5px 20px #333;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}
.csstransforms3d  #book2:before { background-color: #333; }
.csstransforms3d  #book3:before { background-color: #254053; }


* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.section.open button:before, .section.open button:after {
  height: 14px;
}
.section.open button:before {
  transform: translate(0%, -50%) rotate(-45deg);
}
.section.open button:after {
  transform: translate(0%, -50%) rotate(45deg);
}
.section.open .sliderwrap {
  height: 250px;
}

.sliderwrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.slider {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}
